{%load static%}

<html>
<head>
	<title>Register</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">

	<!-- Django CSS and JS Below -->
	<link href='{% static "css/register.css" %}' rel='stylesheet'>
	<script src='{% static "js/register.js" %}'></script>

	<!-- Date Picker Stuff Below -->
	<script src='{% static "js/picker.js" %}'></script>
	<script src='{% static "js/picker.date.js" %}'></script>
	<link href='{% static "css/default.css" %}' rel='stylesheet'>
	<link href='{% static "css/default.date.css" %}' rel='stylesheet'>
</head>
	<body>
		<div class="title">
			<h1>through the eyes of</h1>
			<hr>
		</div>
		<div class="register">
			<h1>Register</h1>
			<form id='register-form' action='/auth/api/register/' method='POST'>
				{%csrf_token%}
				<input type="text" name="username" placeholder="Username" required="required" />
				<input type="email" name="email" placeholder="example@example.com" required="required" />
				<input type="password" name="password" placeholder="Password" required="required" />
				<input type="password" placeholder="Confirm Password" required="required" />
				<input type="text" name="first" placeholder="First Name" required="required" />
				<input type="text" name="last" placeholder="Last Name" required="required" />
				<input id="datepicker" type="text" name="dob" placeholder="yyyy-mm-dd" required="required" />
				<button id='register-button' type="submit" class="btn btn-primary btn-block btn-large">Register</button>
			</form>
			<div id='errors' style='text-align: center;'>
				<span style='color: white; font-size: 25px;'></span>
			</div>
		</div>
	</body>
</html>