{% load static %}

<html>
	<head>
		<title> Album </title>
		<link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'main/css/album.css' %}"/>
		<script
	        src="http://code.jquery.com/jquery-3.3.1.min.js"
	        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	        crossorigin="anonymous">
    	</script>
    	<script>
    		var id = "{{album.pk}}";
    	</script>
	</head>
	<body>
		<div id='content'>
			<div class="title">
				<h1>through the eyes of {{album.album_title}}</h1>
				<hr>
			</div>


			<div class="description">
				{{album.album_description}}
			</div>
			<hr/>
			<section id='pictures'>
				<div class='grid' id='container'>
					<img id='current_image' src=''>
				</div>
				<button class="arrow_button_1" id='up'>&#8249;</button>
				<br>
				<button class="arrow_button_2" id='down'>&#8250;</button>
			</section>
		</div>
		<script src='{% static "main/js/album.js" %}'> </script>
		<script>
			loadImages();
    	</script>
	</body>
</html>