<!DOCTYPE html5>
<html>
<head>
    <link rel = "stylesheet" type = "text/css" href = "/../static/main/css/profile.css"/>
</head>
<body>
    <ul style='list-style: none'>
        <li>Username:      <button id="chang-name">{{ UserInfo.user }}</button> </li>
        <li>Email:         <button id="chang-email">{{ request.user.email }}</button></li>
        <li>Time Zone:     <button id="chang-time">{{ UserInfo.timezone }}</button></li>
        <li>Real Name:     {{request.user.first_name}} {{request.user.last_name}} </li>
        <li>Date of Birth: {{ UserInfo.date_of_birth }} </li>
        <li>Joined         {{ request.user.date_joined }} </li>
        <li>Last Login     {{ request.user.last_login }} </li>
    </ul>
    <form action='/'><button type="submit">Home</button></form

    <script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>  
    <script src="/../static/main/js/profile.js"></script>
</body>
</html>

