html {
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #d48122 0%,#e02323 100%);
    font-family: 'Roboto', sans-serif;
}

body {
    color: white;
}

h1 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

/* #d48122 0%,#e02323 */
button {
    background-color: #d42405;
    border: none;
    color: white;
    transition-duration: 0.4s;
    border-radius: 4px;
}

button:hover {
    border:none;
    background-color: white;
    color: #333333;
    text-decoration: none;
    transition: background-position 0.1s linear;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#redirects {
    list-style: none;   
    position: absolute;
    bottom: 0;
    width: 20%;
}

#redirects li form {
    margin: 0 0 0 0;
    width: 100%;
}

#redirects button {
    margin: 0 0 3px 0;
    width: 100%;
}

#slider {
    margin: 0 auto;
}

#lifestyle-div {
    margin-top: 50px;
}

#lifestyle-div button {
    width: 25%;
    height: 30px;
}

div.noUi-tooltip {
    display: none;
}

div.noUi-active div.noUi-tooltip {
    display: block
}

div.noUi-value.noUi-value-horizontal.noUi-value-large {
    padding-top: 5px;
    color:white;
}

