
body {
    background-color: white;
    font-family: "Times new Roman";
}

#slider {
    text-align: center;
    margin: 0 auto;
}

#line {
    border-left: 2px solid green;
    height: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
}

div.noUi-tooltip {
    display: none;
}

div.noUi-active div.noUi-tooltip {
    display: block
}

div.noUi-value.noUi-value-horizontal.noUi-value-large {
    padding-top: 5px;
}

