
html {
    font-family: 'Roboto', sans-serif;
    background: 
    -webkit-radial-gradient(0% 100%, ellipse cover, rgba(216,180,93,.4) 10%,rgba(221,93,50,0) 40%), /* Sun from bottom left*/
    -webkit-linear-gradient(top,  rgba(221,93,50,.25) 0%,rgba(212,64,37,.4) 100%), /* top down */
    -webkit-linear-gradient(-45deg,  #d8b45d 0%,#d44025 100%); /* TopLeft To BottomRight */
}


body {
    color: white;
}

button {
    background-color: #d42405;
    border: none;
    color: white;
    transition-duration: 0.4s;
    border-radius: 4px;
    width: 100%;
    margin: auto;
    height: 25px;
}

form {
    margin: auto;
    width: 100%;
}

button:hover {
    border:none;
    background-color: white;
    color: #333333;
    text-decoration: none;
    transition: background-position 0.1s linear;
}

#outter {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

#left {
    width: 30%;
    margin: auto;
    float:left;
    height: 25px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: auto;
}

#slider {
    margin-top: 35px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

#lifestyle {
    margin-top: 10;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10;
}

div.noUi-tooltip {
    display: none;
}

div.noUi-active div.noUi-tooltip {
    display: block
}

div.noUi-value.noUi-value-horizontal.noUi-value-large {
    padding-top: 5px;
    color:white;
}

