* { box-sizing: border-box; }

/* inherit height from window */
html, body { height: 99%; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: rgb(100, 100, 100);
  margin-top: 50;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  height: 60%; /* inherit height from body */
  width: 70%;
}

.blankimg {
    border: black;
    float: left;
    width: 19%;
    height: 30%;
    margin-top: 1%;
    margin-left: 0.9%;
    background-color: gray;
    overflow: hidden;
}

.wide {
    width: 38%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 100%;
}