* { box-sizing: border-box; }

/* inherit height from window */
html, body { height: 100%; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  margin-top: 50;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  height: 75%; /* inherit height from body */
  width: 95%;
}

.gridimg {
    float: left;
    width: 19%;
    height: 30%;
    margin-top: 1%;
    margin-left: 1%;
    object-fit: cover;
    object-position: 100% 100%;
}

.wide {
    width: 38%;
}