* { box-sizing: border-box; }

/* inherit height from window */
html, body { height: 99%; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
    background: -webkit-radial-gradient(circle, rgb(61, 61, 61), black);
    margin-top: 75px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    height: 60%; /* inherit height from body */
    width: 70%;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 10px;
}

.blankimg {
    border: #ffffff;
    border-width: 10px;
    border-radius: 10px;
    float: left;
    width: 19%;
    height: 30%;
    margin-top: 1%;
    margin-left: 0.9%;
    overflow: hidden;
}

.wide {
    width: 38%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 100%;
}