body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;

    opacity: 0.0;
}

#title {
    color:black;
    width: 100%;
    font-family: 'Lato', sans-serif;
    margin: 12px;
}

#title span {
    overflow: hidden;
    left: 0;
    font-size: 50px;
    letter-spacing: 5px;
}

#title-form {
    outline: 0;
    padding-bottom: 3px;
    width: 100%;
    font-size: 50px;
    border-width: 0px 0px 0px 0px;
    letter-spacing: 4px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

#underline {
    position: absolute;
    float: bottom;
    height: 5px;
    background-color: black;
}

#description {
    letter-spacing: 5px;
    margin: 12px;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
}

#upload-area {
    position: absolute;
    height: 100%;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



