body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.title {
    color:black;
    text-align: center;
    margin: auto;
    width: 65%;
    font-family: 'Lato', sans-serif;
}

.title h1 {
    font-size: 50px;
    letter-spacing: 4px;
}

.login {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    right: 0;
    top: 0;
    padding-right: 1.5%;
}